<div id="left_sidebar" class="sidebar">
	<a href="javascript:void(0)" class="closebtn" 
		onclick="close_left_sidebar()">×</a>
	<div class="col-11 pt-0">
		<p>Map opacity </p>
		<div id="map_opacity"></div>
		<p>Date range</p>
		<div id="years"></div>

	<br>
	{% for watersystemcategory in watersystemcategories %}
		<a href="javascript:void(0)"
			id="{{watersystemcategory}}"
			onclick="">
			{{watersystemcategory}}
		</a>
		<hr>
		{% for watersystem in watersystemcategory.watersystems %}
			<a href="javascript:void(0)"
				id="{{watersystem}}"
				onclick="">
				{{watersystem.type}}
			</a>
		{% endfor %}
		<br>
		
	{% endfor %}
	</div>
</div>
