
<div id="left_sidebar" class="sidebar">
	<a href="javascript:void(0)" class="closebtn" 
		onclick="close_left_sidebar()">×</a>
	<div class="col-12 pt-0">
		<p>Map opacity </p>
		<div id="map_opacity"></div>
		<p class="date-range">Date range</p>
		<div id="years"></div>

	<br>
	{% for category_filter in filters.category_filters %}
		<div id="{{category_filter.name}}-all">
			<a href="javascript:void(0)"
				class='filter-count watersystemcategory'
				id="{{category_filter.name}}"
				data_installation_ids="{{category_filter.installation_ids_str}}"
				data_filter_ids="{{category_filter.filter_names}}"
				onclick="toggle_category_filter('{{category_filter.name}}')">
				{{category_filter.name}}
					<small>({{category_filter.ninstallations}})</small>
			</a>
			<hr>
			{% for f in category_filter.filters %}
				<a href="javascript:void(0)"
					class='watersystem-name filter-count'
					id="{{f.name}}"
					data_installation_ids="{{f.installation_ids_str}}"
					onclick="toggle_filter('{{f.name}}')">
					{{f.name}} 
					<small>({{f.ninstallations}})</small>
				</a>
			{% endfor %}
			<br>
		</div>
		
	{% endfor %}
	</div>
</div>
