{% extends 'installations/base.html' %}
{% load static %}

{% block head %}
    <!-- Leaflet's CSS java scripts are included in base.html -->
    <!-- noUiSlider links -->
    <link rel="stylesheet" 
		href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.3/nouislider.min.css"
	    integrity=""
        crossorigin=""/>
	<link rel="stylesheet"
		href="{% static 'map/map.css' %}"
	/>
 <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   crossorigin=""></script>
    <script 
		src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.3/nouislider.min.js">
	</script>
{% endblock %}

{% block top %}
    {% include 'map/left_sidebar.html' %}
    <div id="main">
        <div class="city-links">
            {% for city in cities %}
                <a  class="city-link"
                    href="javascript:void(0)"
                    id ='{{city}}'
            data_installation_ids="{{city.installation_identifiers}}"
                    onclick="setMapCenter('{{city}}')">
                        {{city}}
                </a>
				{% if not forloop.last %}
					<span class="city-divider">|</span>
				{% endif %}
            {% endfor %}
        </div>

        <div id="map"></div>
        {{figures|json_script:"figuresjs"}}
        {{styles|json_script:"stylesjs"}}
        {{cjs|json_script:"cjsjs"}}
        {{neighbourhoods|json_script:"neighbourhoodsjs"}}
        {{city|json_script:"cityjs"}}
        {{filters|json_script:"filtersjs"}}
        {{date_range|json_script:"date_rangejs"}}

    </div>
    {% include 'map/right_sidebar.html' %}

<script
    src="{% static 'map/map.js' %}">
</script>


{% endblock %}
