<div id="right_sidebar" class="sidebar">
	<br>
	{% for installation in installations %}
        <div class="installation-item" 
            id="{{installation.identifier}}-item">
            <a href="{% url installation.detail_url installation.pk %}"
                class='installation-title'
                id="{{installation.identifier}}"
				data_map_start_date="{{installation.map_start_date}}"
				data_map_end_date="{{installation.map_end_date}}"
                onmouseover="turnon_map_repr('{{installation.identifier}}')"
                onmouseout="turnoff_map_repr()">
                {{installation}}
            </a>
            <hr>
        </div>
	{% endfor %}
	<br><br><br><br><br><br>
	<br><br><br><br><br><br>
</div>
